{% extends 'idateq/layouts/main.html' %}
{% block title %}Girls in code{% endblock title %}
{% block content %}
{% load static %}

<div class="relative bg-[url('static/images/back.jpg')] bg-cover">

    <div class="text-center lg:text-left">
        <div class="container p-7 ">
            <div class="grid grid-cols-2 gap-4 justify-center items-center sm:grid-cols-3 sm:px-40">
                <div class="mb-4 md:mb-0 text-end">
                    <p class="font-bold uppercase text-3xl sm:text-3xl text-blue-800">
                        GIRLS IN CODE PROGRAM
                    </p>
                </div>
                <div class="mb-4 md:mb-0 sm:col-span-2 text-small sm:text-xl text-start">
                    <p class="sm:pr-28">
                        Girls In Code is a national non-profitworking to close the gender gap intechnology.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center lg:text-left">
        <div class="container p-7 ">
            <div class="grid grid-cols-2 gap-4 justify-center items-center sm:grid-cols-2 sm:px-5">
                <div class="mb-4 md:mb-0 text-start">
                    <div class="text-2xl font-bold uppercase mb-3 sm:text-3xl text-blue-800">PROGRAM PURPOSE</div>
                    <div class="font-sans text-sm sm:pr-20 sm:text-xl">Girls In Code is a national non-profit working to
                        close the gender
                        gap in technology. </br>
                        Girls In Code Clubs in schools are led by Facilitators, who are 18+ and can be teachers,
                        computer scientists, librarians, parents, college students or volunteers from any background or
                        ﬁeld.</div>
                </div>
                <div class="mb-4 md:mb-0  text-small sm:text-base text-start sm:pl-40 sm:pb-20">

                    <img src="{% static 'images/home.jpg' %}" class="object-cover h-52 w-52 sm:h-96 sm:w-96 "
                        style="border-radius: 1000px;">

                </div>
            </div>
        </div>
    </div>

    <div class="relative">
        <h1 class="text-4xl font-bold tracking-tight text-blue-800 py-2 px-4 sm:px-16">TRAINING PROGRAM</h2>
            <div class="mx-auto max-w-2xl py-2 px-4 sm:py-10 sm:px-6 lg:max-w-7xl lg:px-10 ">

                <div
                    class="grid grid-cols-2 gap-y-2  gap-x-2 sm:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 xl:gap-y-5 xl:gap-x-5 lg:px-5">
                    {% for train in training %}
                    <div
                        class=" group aspect-w-1 aspect-h-1 w-full overflow-hidden  xl:aspect-w-7 xl:aspect-h-8 bg-blue-800 border border-gray-200 rounded-lg shadow-md ">

                        <img src='{{train.Picture.url}}' alt="" />
                        <div class="p-2 text-center">
                            <h5 class="mb-2 text-xl font-bold tracking-tight text-white  ">{{train.Title}}</h5>

                            <p class="mb-3 font-normal text-gray-300 text-sm">
                                {{train.Description}}
                            </p>

                        </div>
                    </div>
                    {% endfor %}
                    </div>

                </div>
            </div>


            <div class="relative">
                <h1 class="text-4xl font-bold tracking-tight text-blue-800 py-2 px-4 sm:px-16 text-center">OUR GIRLS</h2>
                    <div class="mx-auto max-w-2xl py-2 px-4 sm:py-10 sm:px-6 lg:max-w-7xl lg:px-10 ">

                        <div
                            class="grid grid-cols-1 gap-y-2  gap-x-2 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 xl:gap-y-5 xl:gap-x-5 lg:px-5">

                        {% for girl in girls %}
                        
                        
                            <div
                                class="group aspect-w-1 aspect-h-1 w-full overflow-visible  xl:aspect-w-7 xl:aspect-h-8 block  p-6 rounded-lg shadow-lg bg-white m-4">
                                <div class="md:flex md:flex-row">
                                    <div
                                        class="md:w-96 w-36 flex justify-center items-center mb-6 lg:mb-0 mx-auto md:mx-0">
                                        <img src="{{girl.Picture.url}}"
                                            class="rounded-full shadow-md" alt="woman avatar" />
                                    </div>
                                    <div class="md:ml-6">
                                        <p class="text-gray-600 font-normal mb-6">
                                            {{girl.Description}}
                                        </p>
                                        <p class="font-semibold text-xl mb-2 text-blue-800">{{girl.Names}}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                            {% comment %} <div
                                class="group aspect-w-1 aspect-h-1 w-full  xl:aspect-w-7 xl:aspect-h-8 block  p-6 rounded-lg shadow-lg bg-white m-4">
                                <div class="md:flex md:flex-row">
                                    <div
                                        class="md:w-96 w-36 flex justify-center items-center mb-6 lg:mb-0 mx-auto md:mx-0 overflow-visible ">
                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
                                            class="rounded-full shadow-md" alt="woman avatar" />
                                    </div>
                                    <div class="md:ml-6">
                                        <p class="text-gray-600 font-normal mb-6">
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
                                            molestiae numquam quas, voluptates omnis nulla ea odio quia similique
                                            corrupti
                                            magnam.
                                        </p>
                                        <p class="font-semibold text-xl mb-2 text-blue-800">Anna Smith</p>
                                    </div>
                                </div>
                            </div> {% endcomment %}

                        </div>
                    </div>

            </div>

            {% endblock content %}