{% extends 'idateq/layouts/main.html' %}
{% block title %}IT services{% endblock title %}
{% block content %}

<div class="bg-[url('static/images/homeback.jpg')] bg-cover">
    <div class="text-center lg:text-left sm:py-10 animate__animated animate__fadeInUp">
        <div class="container p-7 ">
            <div class="grid grid-cols-2 gap-4 justify-center items-center sm:grid-cols-3">
                <div class="mb-4 md:mb-0 sm:col-span-2 text-xl sm:text-4xl text-start">
                    <p class="sm:pl-20 text-blue-800">
                        The development team of IdaTeq is Equipped with proper Human resources specializedin different
                        system development tasks
                    </p>
                </div>
                <div class="mb-4 md:mb-0 text-center">
                    <button type="button"
                        class="inline-block px-3 py-2.5 bg-blue-800 text-white font-bold text-lg leading-tight uppercase rounded hover:bg-blue-700 hover:bg-opacity-100 focus:outline-none focus:ring-0"
                        data-mdb-ripple="true" data-mdb-ripple-color="light" style="border-radius: 10px">
                        HIRE US TODAY
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="relative">
        <div class="mx-auto max-w-2xl py-2 px-4 sm:py-10 sm:px-6 lg:max-w-7xl lg:px-20 ">
            <div
                class="grid grid-cols-2 gap-y-4  gap-x-4 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 xl:gap-y-10 xl:gap-x-10 lg:px-10">
                <div class="animate__animated animate__fadeInLeft animate__delay-1s group aspect-w-1 aspect-h-1 overflow-hidden rounded-lg bg-white w-full xl:aspect-w-7 xl:aspect-h-8"
                    style="box-shadow: 1px 1px 100px 1px rgba(0, 0, 0, 0.15);border-radius: 15px;">
                    <div class="items-center justify-center text-center px-6 py-6 sm:px-12 sm:py-10 ">
                        <div class="text-2xl font-bold uppercase mb-3 sm:mb-7 sm:text-3xl text-blue-800 ">SYSTEM ANALYSIS
                            & DESIGN
                        </div>
                        <div class="font-sans text-sm sm:text-xl">System analyses and design team combines both
                            functional and
                            technical analysts. we beleive to develop a proper system of which functional analysis is
                            equally important as technical analysis. Our system analysis and design team specializes in
                            software</div>
                    </div>
                </div>
                <div class="animate__animated animate__fadeInRight animate__delay-1s group aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-white xl:aspect-w-7 xl:aspect-h-8"
                    style="box-shadow: 1px 1px 100px 1px rgba(0, 0, 0, 0.15);border-radius: 15px;">
                    <div class="items-center justify-center text-center px-6 py-6 sm:px-12 sm:py-10">
                        <div class="text-2xl font-bold uppercase mb-3 sm:text-3xl text-blue-800">DATABASE MANAGEMENT
                        </div>
                        <div class="font-sans text-sm sm:text-xl">We have database expertise ranging from ISAM or flat
                            database systems like Microsoft Access,MySQL , postgress , visual FoxPro to robust
                            commercial database engines like Oracle,Mongo DB and Microsoft SQL. For web database
                            connectivity and cross-platform data management we also have specialized experience and
                            expertise in SQL and No SQL database</div>
                    </div>
                </div>
                <div class="animate__animated animate__fadeInLeft animate__delay-1s group aspect-w-1 aspect-h-1 overflow-hidden rounded-lg bg-white w-full xl:aspect-w-7 xl:aspect-h-8"
                    style="box-shadow: 1px 1px 100px 1px rgba(0, 0, 0, 0.15);border-radius: 15px">
                    <div class="items-center justify-center text-center px-6 py-6 sm:px-12 sm:py-10">
                        <div class="text-2xl font-bold uppercase mb-3 sm:text-3xl text-blue-800">PROGRAMMING
                        </div>
                        <div class="font-sans text-sm sm:text-xl">System analyses and design team combines both
                            functional and technical analysts. we beleive to develop a proper system of which functional
                            analysis is equally important as technical analysis. Our system analysis and design team
                            specializes in software</div>
                    </div>
                </div>
                <div class="animate__animated animate__fadeInRight animate__delay-1s group aspect-w-1 aspect-h-1 overflow-hidden rounded-lg bg-white w-full xl:aspect-w-7 xl:aspect-h-8"
                    style="box-shadow: 1px 1px 100px 1px rgba(0, 0, 0, 0.15);border-radius: 15px;">
                    <div class="items-center justify-center text-center px-6 py-6 sm:px-12 sm:py-10">
                        <div class="text-2xl font-bold uppercase mb-3 sm:text-3xl text-blue-800">PROGRAMMING</div>
                        <div class="font-sans text-sm sm:text-xl">System analyses and design team combines both
                            functional and technical analysts. we beleive to develop a proper system of which functional
                            analysis is equally important as technical analysis. Our system analysis and design team
                            specializes in software</div>
                        <div class="font-sans text-sm font-medium mt-3 sm:mt-7 text-blue-800 underline">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% endblock content%}